# ZOHO CRM Lead Capture IDs
# These can be found in the 'xnQsjsdp' and 'xmIwtLD' fields of the generated form HTML
ZOHO_ORG_ID=YOUR_ZOHO_ORG_ID
ZOHO_FORM_ID=YOUR_ZOHO_FORM_ID

# Optional: Zoho CRM WebToLead URL (.in for India)
ZOHO_CRM_URL=https://crm.zoho.in/crm/WebToLeadForm
